.metroLink {
border-width: 1px;
background-color: #1ba1e2;
color: rgb(255, 255, 255);
font-size: 25px;
padding-right: 10px;
padding-left: 10px;
margin-left: 20px;
padding-bottom: 5px;
padding-top: 5px;
font-family: sans-serif;
border-radius: 12px;
}
a.metroLink:hover{
	color: rgb(255, 255, 255);
}
#retailInfo{
	width:60%;
	float:left;
}

#loginWith {
float: left;
font-size: 21px;
font-weight: 200;
margin-top: 10px;
margin-right: 10px;
}
#loginWithFB {
color: #45619D;
float: left;
margin-right: 10px;
}
#loginWithGoogle {
color: #DF5138;
}