#register-form-shop{
	background-color: rgba(184,184,184,0.701961);
	font-weight: bold;
	padding: 5px 30px;
	font-size: 12px;
}

#register-form-shop #create-account{
	margin: 8px 0;
}

#register-wrapper{
	height: 100%;
	overflow: hidden;
}