#editShopInfo{
	width:45%;
	float: left;
	margin-left:5%;
}

#editMapInfo{
	width:50%;
	float: left;
}

#map-suggestions{
	list-style-type: none;
}

#map-suggestions li{
	cursor: pointer;
}
#map-suggestions li:hover{
	background-color: rgba(0,0,0,0.4);
}
#map-suggestions li.active{
	background-color: gray; 
}