#shopAddTemplate{
	height:100%;
}
#shopAddChkBoxLabel{
	display:inline;
	margin-right:8px;
}
#shopAddFilter{
	width:100%;
}

#shopAddProducts{
	width:78%;
	overflow-y:scroll;
	overflow-x:hidden; 
	float:right;
	height:85%;
}

#shopAddWrap{
	width:16.5%;
	float:left;
	margin-left: 1.5%;
	margin-right: 2.5%;
	margin-top: 0%;
	font-family: armata;
	height: 100%;
	background-color: #eee;
}
#shopAddBrandSelect{
	width:78%;
	float:right;
}
#shopAddHeading{

}
#shopAddWrap h4 {
color: white;
background-color: #3498db;
font-size: 0.9em;
margin-bottom: -5px;
padding: 5px;
font-weight: normal;
}
#shopAddWrap h4:hover{
	font-weight: bold;
}
div.collapse ul {
margin-left: 5px;
}
div.collapse li:hover{
	background-color: crimson;
	color:white;
}
#shopAddWrap .accordion-inner{
	border-top:none;
}
#shopAddBrandSelect #brandLabel{
	float: left;
	font-size: 1.2em;
	padding: 4px;
	margin-bottom: 10px;
}
#shopAddBrandSelect .control-group{
	float: left;
	margin-left: 11px;
	margin-bottom: 10px;
}
li#shopAddSub {
font-weight: 500;
padding-left: 10px;
}
div.products-row p {
font-size: 1.2em;
}
.products-row .lead {
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding-top: 6px;
}

#shopAddProducts .add-item .item-image{
	display: block;
	position: relative;
	margin:0px auto;
	margin-bottom: 12px;
}
.add-item .item-content{
	position: relative;
	top: -60%;
	z-index: 2;
	padding: 12px;
	font-family: helvetica;
}
.add-item .mask{
	position: relative;
	top: 0px;
	left: 0px;
	width: 85%;
	height: 60%;
	z-index: 5;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	margin: 0px auto;
}
.add-item .mask .addProduct{
	position: relative;
	display: none;
	margin: 0px auto;
	top: 84%;
	width: 100%;
}
#shopAddProducts .add-item:hover .mask{
	opacity: 1;
}
#shopAddProducts .add-item:hover .mask .addProduct{
	display: block;
}
.addProduct {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	background-color: #ffa139;
	border: none;
	text-decoration-color: white;
	color: white;
	font-weight: 500;
	font-size: 1.2em;
	/*
	position: relative;
	top: -89px;
	display: block;
	margin: 0px auto;*/
}

.addProduct:hover {
	background-color: #3499db;
}
