.cvCategories{
	width:20%;
	float: left;
	height:550px;
}
.cvProductsList {
	width: 60%;
	height: 570px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
}
.cvMapDisplay{
	float:right;
	width:28%;
	position: relative;
	left: 25.5%;
	height: 350px;
}
.shopInfo, #googleMap{
	position: relative;
	left: 23px;
}
#cvmap-ribbon{
	width:14px;
	overflow: hidden;
	word-wrap:break-word;
	float: left;
	margin-right: 9px;
	cursor: pointer;
	border-radius: 2px;
}

#cvBrand{
	width:90%;
	height:200px;
	overflow-x:hidden;
    overflow-y:scroll; 
}