#headerTop{
	padding-left: 50px;
	margin-bottom:0px;
	border:0;
	background: #2d3e50;
	border-radius: 0px;
}
#headerTop .brand{
	margin-left: 0px;
	background: #3598db;
	color: white;
	font-family: 'audiowide';
	text-transform: uppercase;
	text-shadow:none;
}
#headerTop2{
	position: relative;
	margin-left: 50px;
	padding-left:50px;
	background: #3598db;
	margin-top: -6px;
	border: 0;
	border-top-left-radius: 0px;
	padding: 1px 0px;
}
#headerTop2 .nav{
	position: absolute;
	left:150px;
	top:5px;
}
#headerTop2 .nav a{
	font-family: 'armata';
	color: white;
	text-shadow:none;
	background: #2a80b9;
	margin-right: 5px;
	padding: 5px;
}
#searchForm{
	margin-bottom: 0px;
	margin-right: 15px;
}
#searchForm .input-append{
	margin: 0px;
	margin-top: 6px;
	margin-left:10px;
}
#searchForm .input-append input{
	border: none;
	box-shadow: none;
	height: 20px;
}
#searchForm .input-append .btn{
	height: 28px;
	background: white;
	border: none;
	border-left: 1px solid #2d3e50;
	position: relative;
	z-index: 10;
}
#headerTop .nav a{
	color: white;
	text-shadow:none;
}
.nav.pull-right a{
	font-size: 25px;
}