.cvCategories{
	width:20%;
	float: left;
	height:550px;
}
.cvProductsList {
	width: 58%;
	height: 570px;
	position: absolute;
	left:20%;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	z-index:1;
}
.cvShopDisplay{
	width:100%;
	position: relative;
	height: 290px;
	z-index:2;
}
#shopMapInfo{
	float:right;
	width: 57%;
	height:98%;
}
.gmap-static{
	display: block;
	float: right;
	padding: 3px;
}
#large-map{
	display: none;
}
#shopInfo-wrapper{
	width: 100%;
	height: 100%;
	background-color: white;
}
.shopInfo, #googleMap{
	width: 38%;
	float: left;
	word-wrap:break-word;
	margin-left: 61px;
	margin-top: 15px;
}
.shopHeading{
	font-family: 'Armata';
}
.shopFacilities{
	margin-top: 21px;
}
.cvShopFilters{
	width: 14%;
	float: left;
	margin: 37px 0 20px 0;
	border-right: 1px solid gray;
	padding-right: 42px;
}
.cvShopContent{
	width: 100%;
}
.cvShopTabs{
	width: 100%;
	padding: 25px;
	position: relative;
	margin:0px auto;
}
.cvShopTabs .show-product{
	width: 23%;
	margin: 0.9%;
}
.cvProductsContent{
	width: 78%;
	padding: 25px;
	position: relative;
	float: right;
}
#cvmap-ribbon{
	width:14px;
	overflow: hidden;
	word-wrap:break-word;
	float: left;
	cursor: pointer;
	background-color: #bbb;
	padding: 14px 5px;
	border-radius: 9px;
}

#cvBrand{
	width:90%;
	height:200px;
	overflow-x:hidden;
    overflow-y:scroll; 
}