.cvCategories{
	width:20%;
	float: left;
	height:550px;
}
.cvProductsList {
	width: 60%;
	height: 570px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
}
.cvMapDisplay{
	width:18%;
	margin-left:2%;
}
#cvBrand{
	width:90%;
	height:200px;
	overflow-x:hidden;
    overflow-y:scroll; 
}