#headerTop{
	padding-left: 23px;
	margin-bottom:0px;
	border:0;
	background: #115d8e;
	border-radius: 0px;
}
#headerTop .brand{
	position: relative;
	margin-left: 0px;
	background: #3598db;
	font-size: 32px;
	color: white;
	font-family: 'audiowide';
	text-transform: uppercase;
	text-shadow: none;
	padding-left: 15px;
	padding-right: 15px;
}
#headerTop span.caption{
	position: absolute;
	right: 15px;
	z-index: 10;
	top: 33px;
	color: white;
}
#headerTop .nav{
	padding: 5px 0px;
}
#headerTop2{
	position: relative;
	margin-left: 23px;
	padding-left:50px;
	background: #3598db;
	margin-top: -6px;
	border: 0;
	border-radius: 0px;
	padding: 1px 0px;
	margin-bottom: 5px;
	min-height: 30px;
}
#headerTop2 .nav{
	position: absolute;
	left:230px;
}
#headerTop2 .nav a.dropdown-toggle{
	font-family: 'armata';
	color: white;
	text-shadow:none;
	margin-right: 2px;
	text-transform: uppercase;
	margin-right: 2px;
	padding: 6px 15px;
}
#headerTop2 .nav .open a.dropdown-toggle{
	color: #2a80b9;
	background: white;
}
#searchForm{
	margin-bottom: 0px;
	margin-right: 15px;
}
#searchForm .input-append{
	margin: 0px;
	margin-top: 6px;
	margin-left: 36px;
}
#searchForm .input-append input{
	border: none;
	box-shadow: none;
	height: 20px;
	border-radius: 0;
}
#searchForm .input-append .btn{
	height: 28px;
	background: white;
	border: none;
	border-left: 1px solid #2d3e50;
	position: relative;
	z-index: 10;
	border-radius: 0;
}
#headerTop .nav a{
	color: white;
	text-shadow:none;
}
.nav.pull-right a{
	font-size: 25px;
}
.backExtend{
	position: absolute;
	display: block;
	top:-10px;
	left:0px;
	height: 60px;
	width:100%;
	background: #3598db;
}
.nav-links{
	list-style: none;
	color: #3598db;
}
.navbar-dropdown{
	padding: 5px;
	border-radius: 0;
	box-shadow: none;
}
.navbar-dropdown .categories{
	display: inline-block;
	padding: 12px 26px;
	vertical-align: top;
}
.nav-links{
	padding: 0;
	margin-left: 10px;
}
.main-cat {
	white-space: nowrap;
	margin-bottom: 10px;
	display: block;
}
.nav-links > li{
	line-height: 24px;
}
.navbar-dropdown{
	margin-top: -2px;
	margin-left: -2px;
	border-top: 0;
}
#headerTop .nav > li.open > .dropdown-toggle{
	background: none;
}
#headerTop2 .nav > li > .dropdown-menu:before{
	border:0;
}
#headerTop2 .nav > li:hover > .dropdown-menu{
	display: block !important;
}
#headerTop2 .nav > li:hover{
	background: white;
}
#headerTop2 .nav > li:hover > a.dropdown-toggle {
	color: #3598db !important;
}
#headerTop2 .dropdown{
	border-right: 1px solid white;
}
#dashboardDiv.dropdown-menu > li > a {
	color:#115d8e;
}
#dashboardDiv.dropdown-menu > li > a:hover{
	color: white;
}
a:focus{
	outline: 0 !important;
}