#searchModal, #shopModal , #homeModal{
	height: 300px;
	position: absolute;
	background: gray;
	width:97%;
	overflow:hidden;
	padding: 10px;
}
#searchModal .tab-content , #shopModal .tab-content , #homeModal .tab-content{
	overflow-y:scroll;
	height: 80%;
}
.column{
	height: 100%;
	float: left;
}
#shopCloseModal, #closeModal{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 20px;
	color: black;
	z-index: 10;
}