#homeContainer{
	height: 94%;
}
.brandInputHome{
 	width:100%;
}
#productList{
 	width: 100%;
 	height: 100%;
 	position: relative;
 	overflow-y: scroll;
 	overflow-x: hidden;
}
#homeFilter{
	padding-left: 35px;
	margin-bottom: 5px;
}
#homeLocationInput{
	float: right;
	margin:5px;
}
#filterButton{
	background: #115d8e !important;
	padding: 2px 67px !important;
	border-radius: 0px !important;
	box-shadow: 0 !important;
	color: white !important;
	text-shadow: none !important;
	border-radius: 0 !important;
}
.caret{
	color: white !important;
}
#theFilters{
	box-shadow: none;
	border-radius: 0;
	padding: 10px;
	border: 1px #2d3e50 solid;
	margin-top: -1px;
	color: #2d3e50;
	width: 170px;
	font-family: 'armata';
}
.brandFilter{
	border-top: 1px solid #2d3e50;
	padding: 15px 0px;
	text-transform: uppercase;
	font-size: 0.8em;
}
.brandFilter .control-group{
	margin-bottom: -10px;
	margin-left: 15px;
}
.brandFilter .control-group .checkbox{
	font-size: 0.9em;
}
.brandFilter .control-group .checkbox input{
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid #2d3e50;
	padding: 4px;
	display: inline-block;
	position: relative;
	margin-left: -15px;
}
.brandFilter .control-group .checkbox input:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.brandFilter .control-group .checkbox input:checked {
	color: #2d3e50;
}
.brandFilter .control-group .checkbox input:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 0px;
	color: #2d3e50;
}
.priceFilter{
	border-top: 1px solid #2d3e50;
	padding: 21px 0px 33px 0px;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}
.slider-handle.round {
	-webkit-box-shadow: 0 0 0 #000;
	border-width:0px;
	border-radius: 2px;
}
.distanceFilter{
	border-top: 1px solid #2d3e50;
	padding: 15px 0px;
	text-transform: uppercase;
	position: relative;
	font-size: 0.8em;
}
.slider-controls{
	margin-left: 0px;
}
.distanceFilter .tooltip-inner:after{
	content: ' Km';
}
 /*
 #productDisplay{
 	width:30%;
 	float:right;
 }
 
 #homeModal{
 	overflow-y:scroll;
 	overflow-x:hidden;
 	height:500px; 
 }*/
 .products-list{
 	overflow:hidden;
 	position: relative;
 	
 }
 div.show-product , .add-item {
	width: 19.9%;
  margin:0;
  float: left;
  background: white;
  border: 1px solid #d5d4d4;
  margin-left:-1px;
  margin-bottom:-2px;
}
div.show-product:hover{
	/*box-shadow: 5px 5px 5px 5px #888888 inset;*/
}
div.show-product .item-model{
	font-size: 1.3em;
  line-height:34px;
}
.add-item{
	width: 24%;
	font-size: 0.6em;
}
.add-item .item-image{
	height: 130px;
	margin: 0;
}
.ellipsis{
	overflow: hidden;
	height: 40px;
}
.ellipsis:before{
	content:"";
	float: left;
	width: 5px; 
	height: 100%; 
}
.ellipsis > *:first-child{
	float: right;
	width: 100%;
	margin-left: -5px; 
}
.ellipsis:after{
	content: "\02026";  
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right; 
	position: relative;
	top: -22px;
	left: 97%; 
	width: 3em; 
	margin-left: -3em;
	padding-right: 5px;
	text-align: right;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, right top,
	from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
div.show-product p{
	font-size:1.4em;
}
div.show-product .lead {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: 5px;
	margin-top: -5px;
}
.item-image{
	display: block !important;
	height: 146px;
	margin: 0px auto;
	position: relative;
}
.item-desc{
	padding: 0px 5px;
	display: block;
	position: relative;
	font-size: 10px;
	height: 113px;
	font-family: Tahoma, Geneva, Verdana;
  margin-top: 11px;
}
.item-price-brand{
	position: absolute;
  bottom: 0;
  width: 93.5%;
  overflow: hidden;
  font-size: 13px;
  border: 1px solid #d5d4d4;
  background-color: #f7f7f7;
  margin-left: -6px;
}
.item-price-brand .pull-left{
	background-color: #3598db;
	padding: 1px 10px;
	color:white;
}
body{
	font-family: Tahoma, Geneva, Verdana;
}
.show-product .item-name{
	font-size: 1.5em;
}
.item-name{
	//white-space: nowrap;
	//overflow: hidden;
	//text-overflow: ellipsis;
	margin-bottom: 0;
	//border-top: 1px solid rgb(112,112,112);
}
.item-price-brand{
	//border-top: 1px solid rgb(112,112,112);
	padding: 5px 3.5%;
}
.galleryImage{
	border: 1px gray solid;
	width: 26.5%;
}
.shopNav{
	background: #3598db;
	border: 0;
	border-radius: 0;
	color: white;
	text-shadow: none;
}
.loading{
	padding: 0;
	text-align: center;
	font-size: 18px;
}
