/* CSS declarations go here */
.toggle{
	width:60px;
	height:20px;
	position: relative;
	border: 1px solid #888;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	cursor: pointer;
}
.toggle div{
	width: 30px;
	float: left;
	text-align: center;
	line-height: 20px;
	font-size: 0.9em;
  color:white;
}
.toggle .cover{
	width:30px;
	height:100%;
	position: absolute;
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	-ms-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	border: 1px solid rgba(0,0,0,0.1);
	background: #e6e6e6; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
.toggle.off .cover{
	left:0px;
	top:0px;
}
.toggle.on{
	background-color: #12608c;
}
.toggle.off{
	background-color: #12608c;
}
.toggle.on .cover{
	left: 30px;
	top: -1px;
}
#shopName {margin-bottom: 15px;}
#shopAddress {margin-bottom: 15px;}
#addFeature{margin-bottom: 15px;}
