<template name="adminLogin">
        <!---->
        <div class="container">
                <form id="admin-login">
                        <label><strong>Admin Username</strong></label>
                        <input type="text" id="adminUser"/><br>
                        <label><strong>Admin Password</strong></label>
                        <input type="password" id="adminPassword"/><br>
                        <input type="submit" value="Admin Login" class="btn btn-medium btn-info">
                </form>
        </div>
</template>