<template name="connectFb">
	<div id="connectFbLogin">
		Please connect with the administer account of your page and set the privacy permissions for visiblity of posts as friends : <br />
		<button id="connectFbButton">Fb Login</button>
	</div>
	<div id="connectFbConnected">
		<p id="connectedPage"></p>
	</div>
	<div id="connectFbPages" style="display:none;">
		Choose a page:
			<form id="chooseFbPage">
				<ul id="connectFbPagesList">
				</ul>
				<input type="submit" value="connect"/>
			</form>
	</div>
</template>