<head>

<script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBoZj_NWxZTB-rKDEKGShhV1xlvn5UwYVc&sensor=false"></script></head>

<template name="customerView">
  

    <div class="cvCategories">
      {{> ShopMainCat}}
      {{> ShopBrand}}
    </div>
    <div class="cvProductsList" id="cvProductList">
      {{> ShopProducts}}
      {{> shopModal}}
    </div>
    <div class="cvMapDisplay">
      <div class="shopInfo">
        {{> shopInfo}}
      </div>
      {{> mapCanvas}}
      
    </div>
</template>

<template name="shopInfo">
  {{#with shopDet}}
    <h3>{{shopname}}</h3>
    <p style="font-size:1.3em;">{{address}}</p>
    <i class="fa fa-phone-square"> {{contactnum}}</i>
    <!--
    <span>{{contactnum}}</span>
    -->
  {{/with}}
</template>

<template name="ShopMainCat"> 
  <div class="ac-container">
    {{#each MainCatArr}}
    <div id="custViewNavBar">
      <input id="{{Main}}" name="accordion-1" type="checkbox" />
      <label for="{{Main}}" id="mainCat">{{Main}}</label>
      <ul class="nav nav-pills nav-stacked">
        {{#each Sub}}
        <li><a id="subCat">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</template>

<template name='mapCanvas'>
<div id="googleMap" style="width:200px;height:200px;float:left;margin-top:10px;display:inline;"></div>
</template>

<template name='shopModal'>
  <div id="shopModal" style="display:none">
      <a id="shopCloseModal" href="#">X</a>
      {{#isolate}}
      {{#each product}}
        <div class="column" style="width:30%">
          <h2>{{Brand}}</h3>
          <h4>{{ProductName}}</h5>
          <h5>{{ModelID}}</h6>
          <img class="item-image" src="{{Image.[0]}}" />
        </div>
      {{/each}}
      {{/isolate}}
      <div class="column" style="width:70%">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
          <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
          <li><a href="#availableShop" data-toggle="tab">Available At</a></li>
        </ul>
        <div class="tab-content">
        {{#isolate}}
          {{> shopModalOverview}}
        {{/isolate}}
        {{#isolate}}
          {{> shopModalSpec}}
        {{/isolate}}
        </div>
      </div>
  </div>
</template>
<template name="shopModalOverview">
  <div class="tab-pane active" id="overview">
  {{#each productOverview}} 
    <p class="lead">{{overviewPara}}</p>
    <ul>
      {{#each overViewList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each feature}}
      <h4>{{name}}</h4>
      <p>{{value}}</p>
    {{/each}}
  {{/each}}
  </div>
</template>
<template name="shopModalSpec">
  <div class="tab-pane" id="techSpec">
    <table class="table">
    {{#each productSpec}}
    {{#each spec}}
      {{#labelCheck name}}
      <th>
        <u><strong>{{value}}</strong></u>
      </th>
      {{else}}  
      <tr>
        <td><strong>{{name}}:</strong></td>
        <td>{{value}}</td>
      </tr> 
      {{/labelCheck}}
    {{/each}}
    {{/each}}
    </table>
  </div>
</template>

<template name="ShopSubCat">
    
    <ul id="subcat_list">
    {{#each SubCatArr}}
      <li class="subcat" id="{{Name}}">{{Name}}</li>
    {{/each}}
    </ul>
</template>

<template name="ShopBrand">
  <div id="cvBrand">
    <p class="lead" style="margin-left:5%">Brands</p>
    <div style="text-align:left;display:inline-block;height:100px;margin-left:5%;margin-top:-7.5%;">
    {{#each BrandArr}}
      <input class="brand" value="{{this}}" type="checkbox">{{this}}</input><br>
    {{/each}}
    </div>
  </div>
</template>

<template name="ShopProducts">
   <div class="products-list">
    {{#isolate}}
     {{#each ProductArr}}
       <div class="show-product" id="product_{{_id}}" style="cursor:pointer">
        <img class="item-image" src="{{this.Image.[0]}}"/>
        <h4>{{this.Brand}}</h4>
        <p class="lead">{{this.ProductName}} </p>
        <p>{{this.ModelID}}</p>
       </div>
     {{/each}}
    {{/isolate}}
    </div>
</template>