 
<template name="customerView">
    <div class="cvShopDisplay">
      <div id='shopInfo-wrapper'>
        <div class="shopInfo">
          {{> ShopInfo}}
        </div>
        <div id='shopMapInfo'>
          {{> mapCanvas}}
        </div>
      </div>
    </div>
    <div class='cvShopContent'>
      <div class='cvShopTabs'>
        {{> ShopContentTabs}}
        {{> shopModal}}
      </div>
    </div>
</template>

<template name="ShopInfo">
  {{#with shopDet}}
    <div class='shopHeading'>{{shopname}}</div>
    <table class='shop-primary-info'>
      <tr><td><i class="fa fa-map-marker" style='color:#3598db;font-size:1.3em;'></i></td><td>{{address}}</td></p>
      <tr><td><i class="fa fa-phone-square" style='color:#3598db;font-size:1.3em;'></i></td><td>{{contactnum}}</td></p>
    </table>
    <div class='shopFacilities'>
      <table>
        <tr>
          <td><div class='fac-img-wrapper'>{{#if emi}}<img src='/image/36.png' class='facility-icon'/>{{else}}<img src='/image/31.png' class='facility-icon'/>{{/if}}</div> EMI</td>
          <td><div class='fac-img-wrapper'><img src='/image/39.png' class='facility-icon'/></div>Weekdays: {{openHour}} - {{closeHour}}<br>Weekends: {{openHour}} - {{closeHour}}</td></tr>
          <tr><td><div class='fac-img-wrapper'><img src='/image/14.png' class='facility-icon'/></div>{{#with payments}} {{#if debit}}Debit {{/if}} {{#if credit}}Credit {{/if}} {{#if cheque}}Cheque {{/if}} {{/with}}</td>
          <td><div class='fac-img-wrapper'>{{#if homeDelivery}}<img src="/image/37.png" class='facility-icon'/>{{else}}<img src="/image/34.png" class='facility-icon'/>{{/if}}</div> Home Delivery</td></tr>
      </table>
    </div>
  {{/with}}
</template>

<template name="ShopMainCat"> 
  <div class="ac-container">
    {{#each MainCatArr}}
    <div id="custViewNavBar">
      <input id="{{Main}}" name="accordion-1" type="checkbox" />
      <label for="{{Main}}" id="mainCat">{{Main}}</label>
      <ul class="nav nav-pills nav-stacked">
        {{#each Sub}}
        <li><a id="subCat">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</template>

<template name='mapCanvas'>
  <img class='gmap-static' id='small-map' src="http://maps.googleapis.com/maps/api/staticmap?center={{latlng}}&zoom=15&size=450x300&maptype=roadmap&markers=color:red%7C{{latlng}}&sensor=false" />
</template>

<template name='shopModal'>
  <div id="shopModal">
      <a id="shopCloseModal" href="#">X</a>
      <div class="bottom-row" style="width:100%">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
          <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
        </ul>
        <div class="tab-content">
        {{#isolate}}
          {{> shopModalOverview}}
        {{/isolate}}
        {{#isolate}}
          {{> shopModalSpec}}
        {{/isolate}}
        </div>
      </div>
  </div>
</template>
<template name="shopModalOverview">
  <div class="tab-pane active" id="overview">
    {{#isolate}}
      {{#with product}}
      <div class="top-row" style="width:100%;">
        <div id="shopImageModal">
          <img src="{{Image.[0]}}">
        </div>
        <div id='shopModalHeading'>
          <p class="lead modalName">{{ProductName}}</p>
          <p class='modalID'>Model ID: {{ModelID}}</p>
          <p class='modalPrice'><i class='fa fa-rupee'></i> {{price}}<br> <span class='tax-info'>Inclusive of all Taxes</span></p>
        </div>
      </div>
      {{/with}}
    {{/isolate}}
  {{#each productOverview}} 
    <p class="lead">{{overviewPara}}</p>
    <ul>
      {{#each overViewList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each feature}}
      <h4>{{name}}</h4>
      <p>{{value}}</p>
    {{/each}}
  {{/each}}
  </div>
</template>
<template name="shopModalSpec">
  <div class="tab-pane" id="techSpec">
    <table class="table">
    {{#each productSpec}}
    {{#each spec}}
      {{#labelCheck name}}
      <th>
        <u><strong>{{value}}</strong></u>
      </th>
      {{else}}  
      <tr>
        <td><strong>{{name}}:</strong></td>
        <td>{{value}}</td>
      </tr> 
      {{/labelCheck}}
    {{/each}}
    {{/each}}
    </table>
  </div>
</template>

<template name="ShopSubCat">
    
    <ul id="subcat_list">
    {{#each SubCatArr}}
      <li class="subcat" id="{{Name}}">{{Name}}</li>
    {{/each}}
    </ul>
</template>

<template name='shopCategories'>
  <ul id='shopMainCat'>
    {{#each shopCat}}
      <li data-content='{{this.Main}}' class='mainCat'>
        <a class='main-click'>{{this.Main}}</a>
        <ul class='shopSubCat'>
          {{#each this.Sub}}
            <li class='subCat'>{{this}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</template>

<template name="ShopBrand">
  <div class="brandFilter">
    <strong>Brands</strong>
      {{#isolate}}
      {{#each BrandArr}}
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" class='shopBrandCheck' value="{{this}}"> {{this}}
            </label>
          </div>
        </div>
      {{else}}
        <br><span>Select any Sub Category!</span>
      {{/each}}
      {{/isolate}}
  </div>
</template>

<template name='ShopPriceFilter'>
  <div class='priceFilter'>
    <strong>PRICE RANGE</strong><br>
    <div id='priceslider-wrapper'>
      <div id='shopPriceSlider' class='span2'></div>
    </div>
    <div class="slider-controls span2">
      {{#with priceRange}}
        <span class="pull-left">Rs. {{min}}</span>
        <span class="pull-right">Rs. {{max}}</span>
      {{/with}}
    </div>
  </div>
</template>

<template name='ShopContentTabs'>
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#cvFeaturedProducts" data-toggle="tab">Featured Products</a></li>
    <li><a href="#cvProductsList" data-toggle="tab">Products Available</a></li>
    <li><a href="#cvShopReviews" data-toggle="tab">Reviews & Ratings</a></li>
  </ul>
  <div class="tab-content">
      {{#isolate}}
        {{> shopFeaturedProducts}}
      {{/isolate}}
      {{#isolate}}
        {{> ShopProducts}}
      {{/isolate}}
      {{#isolate}}
        {{> ShopReviews}}
      {{/isolate}}
      </div>
</template>

<template name='shopFeaturedProducts'>
  <div class="products-list tab-pane active" id='cvFeaturedProducts'>
    {{#isolate}}
     {{#each featuredProductArr}}
       <div class="show-product" id="featuredProduct_{{_id}}" style="cursor:pointer">
        <img class="item-image" src="{{this.Image.[0]}}"/>
        <div class="item-desc">
          <p class="item-name">{{this.ProductName}} {{this.ModelID}}</p>
          <div class="item-price-brand">
            <span class="pull-left"><i class="fa fa-rupee"></i>{{this.price}}/-</span>
            <span class="pull-right">{{this.Brand}}</span>
          </div>
        </div>
       </div>
     {{/each}}
    {{/isolate}}
  </div>
</template>

<template name="ShopProducts">
  <div class="products-list tab-pane" id='cvProductsList'>
    <div class="btn-group">
      <a class="btn btn-inverse dropdown-toggle" id="filterButton" data-toggle="dropdown" href="#">
        Categories
        <span class="caret"></span>
      </a>
      <ul id="shopFilters" class="dropdown-menu">
        {{> shopCategories}}
      </ul>
    </div>
    <div class="btn-group" style='float:right;margin-right:30px;'>
      <a class="btn btn-inverse dropdown-toggle" id="filterButton" data-toggle="dropdown" href="#">
        More Filters
        <span class="caret"></span>
      </a>
      <ul id="shopFilters" class="dropdown-menu">
        {{> ShopBrand}}
        {{> ShopPriceFilter}}
      </ul>
    </div>
    <div class='cvProductsContent'>
    {{#isolate}}
     {{#each ProductArr}}
       <div class="show-product" id="product_{{_id}}" style="cursor:pointer">
        <img class="item-image" src="{{this.Image.[0]}}"/>
        <div class="item-desc">
          <p class="item-name">{{this.ProductName}} {{this.ModelID}}</p>
          <div class="item-price-brand">
            <span class="pull-left"><i class="fa fa-rupee"></i>{{this.price}}/-</span>
            <span class="pull-right"><img  src="{{brandLogo this.Brand}}" style="height:24px" /></span>
          </div>
        </div>
     </div>
     {{/each}}
    {{/isolate}}
    </div>
  </div>
</template>

<template name='ShopReviews'>
  <div id='cvShopReviews' class='tab-pane'><i>No Reviews Yet!!</i></div>
</template>