<template name="header">
	<div class="navbar navbar-inner" id='headerTop'>
		<ul class="nav">
			<li><a href="/" class="brand">Sencillo</a></li>
			<li>
	    		<form id="searchForm">
					<div class="input-append">
						<input type="text" id="searchInput" class="span6" placeholder="Search" />
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</div>
				</form>
			</li>
	    	{{#if currentUser}}
		    	<li><a href="/dashboard">Dashboard</a></li>
		    	<li><a href="#" class="logout" id="logout">Logout</a></li>
	    	{{else}}
			    <li><a href="/login">Login</a></li>
			    <li><a href="/register">Register</a></li>
	    	{{/if}}
		</ul>
		<ul class="nav pull-right">
			<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
		</ul>
	</div>
	<div class="navbar navbar-inner" id='headerTop2'>
		<ul class="nav">
			<li><a href="#">Computer</a></li>
			<li><a href="#">Mobiles</a></li>
			<li><a href="#">Audio/Video</a></li>
			<li><a href="#">Home Appliance</a></li>
			<li><a href="#">Kitchen Appliance</a></li>
			<li><a href="#">Pesrsonal Care</a></li>
		</ul>
	</div>
</template>