<template name="header">
	
	<ul class="nav" id="headerCategories">
		<li style:"cursor:pointer"><a href="" id="categories_a">Categories  <i class="fa fa-sort-asc"></i></a>
			<ul>
  			{{#each MainCatArr}}
	  			<li><a href="">{{Main}}</a>
	  				<ul>
	  				{{#each Sub}}
	  					<li><a class="subCatNav" href="/{{subCatLink this}}">{{this}}</a></li>
	  				{{/each}}
	  			    </ul>
	  			</li>
  			{{/each}}
  			</ul>
		</li>
	</ul>
		<div class="navbar navbar-inner">
		<ul class="nav">
		<li><a href="/" class="brand">Sencillo</a></li>

		<li>
    		<form id="searchForm" class="form-search" style="margin:6px">
				<div class="input-append">
				<input type="text" id="searchInput" class="span2 search-query" placeholder="Search" />
				<button type="submit" class="btn"><i class="icon-search"></i></button>
				</div>
			</form>
		</li>
    	{{#if currentUser}}
    	<li><a href="/dashboard">Dashboard</a></li>
    	<li><a href="#" class="logout" id="logout">Logout</a></li>
    	{{else}}
	    <li><a href="/login">Login</a></li>
	    <li><a href="/register">Register</a></li>
    	{{/if}}
	</ul>
	</div>
</template>