<template name="home">
  {{> homeView}}
</template>

<template name="homeView">
  <div id="homeFilter">
    <div class="btn-group">
      <a class="btn btn-inverse dropdown-toggle" id="filterButton" data-toggle="dropdown" href="#">
        Filters
        <span class="caret"></span>
      </a>
      <ul id="theFilters" class="dropdown-menu">
        {{> homeBrand}}
        {{> homePriceFilter}}
        {{> homeDistanceFilter}}
      </ul>
    </div>
    <div id='homeLocationInput'>
      {{#if centerSet}}
        <span>Showing around {{centerSet}}!! <a class='change-center'>Change</a></span>
        <input type='text' id='homeDistanceCenter' class='distance-center' value='{{centerSet}}' style='display:none;'/>
      {{else}}
        <input type='text' id='homeDistanceCenter' class='distance-center' />
      {{/if}}
    </div>
  </div>
  <div id="homeContainer">
    <div id="productList">
      {{> homeProducts}}
      {{> homeModal}}
    </div>    
  </div>    
</template>
<template name="homeBrand">
  <div class="brandFilter">
    <strong>Brands</strong>
      {{#isolate}}
      {{#each Brand}}
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" value="{{this}}"> {{this}}
            </label>
          </div>
        </div>
      {{/each}}
      {{/isolate}}
    </ul>
  </div>
</template>

<template name='homeDistanceFilter'>
  <div class="distanceFilter">
    <strong>DISTANCE</strong>
    <br />
    <input type="text" id="distanceSlider" class="span2" /><!-- data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show"-->
    <div class="slider-controls span2">
      <span class="pull-left">1 Km</span>
      <span class="pull-right">10 Km</span>
    </div>
  </div>
</template>

<template name='homePriceFilter'>
  <div class='priceFilter'>
    <strong>PRICE RANGE</strong><br>
    <div id='priceSlider' class='span2'></div>
    <div class="slider-controls span2">
      <span class="pull-left">Rs. 0</span>
      <span class="pull-right">Rs. 10000</span>
    </div>
  </div>
</template>

<template name="homeProducts">
  <div class="products-list">
  {{#isolate}}
   {{#stripes ProductArr}}
     <div class="show-product" id="product_{{_id}}" style="cursor:pointer">
      <img class="item-image" src="image/482.GIF" data-original="{{this.Image.[0]}}"/>
      <div class="item-desc">
        <p class="item-name">{{this.ProductName}}</p>
        <p class="item-model">{{this.ModelID}}</p>
        <div class="item-price-brand">
          {{#isolate}}
          <span class="pull-left"><i class="fa fa-rupee"></i>{{this.leastPrice}}/-</span>
          {{/isolate}}
          <span class="pull-right">{{this.Brand}}</span>
        </div>
      </div>
     </div>
     {{#if this.odd}}
     <div class="divider">
     </div>
     {{/if}}
   {{/stripes}}
  {{/isolate}}
   
  </div>
</template>

<template name='homeModal'>
<div id="homeModal" class="hide">
    <a id="closeModal" href="#">X</a>
    {{#isolate}}
    {{#each product}}
      <div class="column" style="width:30%">
        <p class="item-modal-brand">{{Brand}}</p>
        <div class="item-modal-rest">
          <p class="item-modal-name">{{ProductName}}</p>
          <p class="item-modal-model">{{ModelID}}</p>
          <div id="imageModal" style="margin-bottom:2%">
            <img src="{{Image.[0]}}">
          </div>
          <i id="thumbLeft"></i>
          <div style="width:80%;height: 60px;float:left;">
            <div id="thumbSlider" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;width:100%;height:100%;padding-bottom:15%;padding-top:4%">
          {{#each Image}}
              <img class="galleryImage" src="{{this}}" style="cursor:pointer;margin-right:1%;height:100%" >
          {{/each}}
            </div>
          </div>
          <i id="thumbRight"></i>
        </div>
      </div>

    {{/each}}
    {{/isolate}}
    <div class="column" style="width:70%; background-color:#f6f6f6">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
        <li><a href="#availableShop" data-toggle="tab">Available At</a></li>
        <li><a href="#availableShop" data-toggle="tab">Map View</a></li>
      </ul>
      <div class="tab-content">
      {{#isolate}}
        {{> homeModalOverview}}
      {{/isolate}}
      {{#isolate}}
        {{> homeModalSpec}}
      {{/isolate}}
      {{#isolate}}
        {{> homeModalAvailble}}
      {{/isolate}}
      </div>
    </div>
</div>
</template>
<template name="homeModalOverview">
  <div class="tab-pane active" id="overview">
  {{#each productOverview}} 
    <p>{{overviewPara}}</p>
    <ul style="list-style:circle">
      {{#each overViewList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each feature}}
      <h4>{{name}}</h4>
      <p>{{value}}</p>
    {{/each}}
  {{/each}}
  </div>
</template>
<template name="homeModalSpec">
  <div class="tab-pane" id="techSpec">
    <table class="table">
    {{#each productSpec}}
    {{#each spec}}
      {{#labelCheck name}}
      <th>
        <u><strong>{{value}}</strong></u>
      </th>
      {{else}}  
      <tr>
        <td><strong>{{name}}:</strong></td>
        <td>{{value}}</td>
      </tr> 
      {{/labelCheck}}
    {{/each}}
    {{/each}}
    </table>
  </div>
</template>
<template name="homeModalAvailble">
  <div class="tab-pane" id="availableShop">
    <table class="table">
      <tr>
        <th>Shop Name</th>
        <th></th>
        <th>Price</th>
        <th>Distance</th>
      </tr>
    {{#each shopList}}
      <tr>
        <td>{{shopname}}</td>
        <td><a class="shopNav btn" href="{{link}}">Address/Reviews</a></td>
        <td>{{#if price}}<i class="fa fa-rupee"></i>{{price}} {{else}} NA {{/if}}</td>
        <td>{{distance}}K.M</td>
      </tr>
    {{/each}}
    </table>
  </div>
</template>