<template name="home">
  {{> homeView}}
</template>

<template name="homeView">
  <div id="homeContainer">
    <div id="homeFilter">
      {{> homeBrand}}
    </div>
    <div class="" id="productList">
      {{> homeProducts}}
    </div>
      {{> homeModal}}
    
  </div>    
</template>

<template name="homeBrand">
  <p>
    <span>Brands : </span>
    <ul>
      {{#isolate}}
      {{#each Brand}}
      <li style="list-style:none"><input type="checkbox" value="{{this}}">  {{this}}</li>
      {{/each}}
      {{/isolate}}
    </ul>
  </p>
</template>

<template name="homeProducts">
  <div class="products-list">
  {{#isolate}}
   {{#each ProductArr}}
     <div class="show-product" id="product_{{_id}}" data-toggle="modal" data-target="#homeModal" style="cursor:pointer">
      <img class="item-image" src="{{this.Image.[0]}}"/>
      <h4>{{this.Brand}}</h4>
      <p class="lead">{{this.ProductName}} </p>
      <p>{{this.ModelID}}</p>
     </div>
   {{/each}}
  {{/isolate}}
   
  </div>
</template>

<template name='homeModal'>
<div id="homeModal" class="modal hide fade">
    {{#isolate}}
    {{#each product}}
    <h3 id="homeModalLabel">{{Brand}} {{ProductName}} {{ModelID}}</h3>
      <img class="item-image" src="{{Image.[0]}}" />
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
        <li><a href="#availableShop" data-toggle="tab">Available At</a></li>
      </ul>
    {{/each}}
    {{/isolate}}
    <div class="tab-content">
    {{#isolate}}
      {{> homeModalOverview}}
    {{/isolate}}
    {{#isolate}}
      {{> homeModalSpec}}
    {{/isolate}}
    </div>
</div>
</template>
<template name="homeModalOverview">
  <div class="tab-pane active" id="overview">
  {{#each productOverview}} 
    <p class="lead">{{overviewPara}}</p>
    <ul>
      {{#each overViewList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each feature}}
      <h4>{{name}}</h4>
      <p>{{value}}</p>
    {{/each}}
  {{/each}}
  </div>
</template>
<template name="homeModalSpec">
  <div class="tab-pane" id="techSpec">
    <table class="table">
    {{#each productSpec}}
    {{#each spec}}
      {{#labelCheck name}}
      <th>
        <u><strong>{{value}}</strong></u>
      </th>
      {{else}}  
      <tr>
        <td><strong>{{name}}:</strong></td>
        <td>{{value}}</td>
      </tr> 
      {{/labelCheck}}
    {{/each}}
    {{/each}}
    </table>
  </div>
</template>
      
       
