<template name="home">
    {{> homeView}}
</template>

<template name="homeView">
  <div id="homecontainer">
    <div id="homeFilter">
      {{> homeBrand}}
    </div>
    <div class="" id="productList">
      {{> homeProducts}}
    </div>
    <div class="" id="productDisplay">
      {{> homeModal}}
    </div>
  </div>    
</template>

<template name="homeBrand">

  <strong>Brands</strong><br>
    {{#each BrandArr}}
      <input class="brand" value="{{Name}}" type='checkbox'>{{Name}}</input>
    {{/each}}
</template>

<template name="homeProducts">
  <div class="products-list">
   {{#each ProductArr}}
      <div class="productWrapper" id="productWrapper">
        
        <table class="table imageShow">
        <tr>
        
          <td id="imageHolderList"><a id="product_{{_id}}" href="#homeModal" class="homeProductView" role="button">
            <img class="item-image" src="{{Image.[0]}}" id="productImageList"></a>
          </td>

        </tr>
        <tr>
          <td>
            <h4>{{Brand}} {{ProductName}} {{ModelID}}</h4>
          </td>
        </tr>
        </table>
      </div>
      
   {{/each}}
  </div>
</template>

<template name='homeModal'>
<div id="homeModal">
    {{toggle}}
    {{#isolate}}
    <h3 id="homeModalLabel">{{product.Brand}} {{product.ProductName}} {{product.ModelID}}</h3>
      <img class="item-image" src="{{product.Image.[0]}}" />
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
        <li><a href="#availableShop" data-toggle="tab">Available At</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="overview">
          {{#each product.showSpec}}
            <p>{{value}}</p>
          {{/each}}
        </div>
        <div class="tab-pane" id="techSpec">
          <table class="table">
          {{#each product.ProductInfo}}
            {{#labelCheck name}}
            <th>
              <u><strong>{{value}}</strong></u>
            </th>
            {{else}}
              {{#each value}}
              <tr>
                <td><strong>{{name}}:</strong></td>
                <td>{{value}}</td>
              </tr>
              {{/each}}
            {{/labelCheck}}
          {{/each}}
      </table>
        </div>
        <div class="tab-pane" id="availableShop">
          <table class="table">
            <tr>
              <th>Seller</th>
              <th>Price</th>
              <th>Distance</th>
            </tr>
            {{#each product.shopList}}
            <tr>
              <td><a href="/cv/{{shopname}}/{{product._id}}">{{shopname}}</a></td>
              <td>Rs {{price}}</td>
              <td></td>
            </tr>
            {{/each}}
          </table>
          
        </div>
      </div>
    {{/isolate}}
</div>
</template>
