<template name="login">
	<div id="retailInfo">
		<div id="retailInfoHeader">
			<a href="#infoOverview" class="metroLink" id="retailInfoOverview">Overview</a>
			<a href="#infoFeature" class="metroLink" id="retailInfoFeature">Features</a>
			<a href="#infoHiw" class="metroLink" id="retailInfoHiw">How It Works</a>
		</div>
		<div id="retailInfoContent">
			<div id="infoOverview">
				<article>
					<p class="lead">Overview</p>
					<p>Sencillo is the easiest way for retailers to have an online presence.</p>
					<p>The world is going digital - are you ?</p>
					<p>Apart from giving you an online presence, Sencillo helps you showcase products available with you to potential buyers, helps you in taking advantage of cheap yet very effective targeted social media marketing and also helps you get discovered using location based services.</p>
					<p>Using Sencillo you can drive more in-store visits, better conversion among buyers and helps you identify your loyal customer base.</p>
				</article>

			</div>
			<div id="infoFeature">
				<p class="lead">Features</p>
			</div>
			<div id="infoHiw">
				<p class="lead">How it works</p>
			</div>
		</div>
	</div>
	<div id="loginRegisterChoice">
		<form>	
			<label><strong>Username</strong></label>
			<input type="text" name="username"/><br>
			<label><strong>Password</strong></label>
			<input type="password" name="password"/><br>
			<input type="submit" value="Login" class="btn btn-medium btn-info">
		</form>
	</div>
</template>