<template name="register">
  <div class="container">
      {{> shopRegister}}
  </div>
</template>

<template name="shopRegister">
  <div id='register-wrapper'>
    <form id="register-form-shop" action="action">
      <fieldset>
        <label>User Name</label>
       <input type="text" id="shop-username" /><br>
        <label>Shop Name</label>
       <input type="text" id="shop-shopname" /><br>
       <label>Password</label>
       <input type="password" id="shop-password" /><br>
       <label>Postal Code</label>
       <input type='text' id='shop-pincode' class='map-render'/><br>
       <label>City</label>
       <select id='shop-city' class='map-render'>
        <option value='kolkata' selected>Kolkata</option>
       </select><br>
       <label>Locality/Street Name</label>
       <input type='text' id='shop-locality' class='map-render' /><br>
       <label>Landmark</label>
       <input type='text' id='shop-landmark' class='map-render'/><br>
       <label>Shop Address</label>
       <textarea id='shop-shopaddress' class='map-render'></textarea><br>
       <label>Contact Name</label>
       <input type="text" id="shop-contactname" /><br>
       <label>Contact Number</label>
       <input type="text" id="shop-contactnum" /><br>
       <input type="submit" id="create-account" value="Create an Account" />
     </fieldset>
   </form>
  </div>
  </template>
