<template name="retailers">
	<div style="width:100;height:100%;overflow-y:scroll">
		<div class="container" style="margin-top:30px">
			<ul id="forRetailersTab" class="nav nav-tabs">
				<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
				<li><a href="#features" data-toggle="tab">Features</a></li>
				<li><a href="#works" data-toggle="tab">How it Works</a></li>
			</ul>
			<div id="forRetailersTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="overview">
					<div class="span11">
						<p>Sencillo is the easiest way for reatilers to have an online presence</p>
						<p>The world is going digital are you?</p>
						<p>Apart from giving you an online presence, sencillo helps you showcase products available with you to pottential buyers, Helps you intaking advantage of cheap yet very effective targeted social media marketing and also helps you get discovered using location ased services</p>
						<p>Using Sencillo you can drive more in-store visits, better conversion among buyers and helps you identify your loyal customer base</p>
					</div>
				</div>
				<div class="tab-pane fade" id="features">
					<div class="span11">
						<p><span class="round">1</span> Easy way to get your store online</p>
						<img class="pull-right" style="margin-right:232px" src="/image/27.png" /><br />
					</div>
					<div class="span11">
						<img class="pull-left" src="/image/28.png" /><br />
						<p style="text-align:right"><span class="round">2</span> Harness the benifits of social media and location based marketing.</p>
					</div>
					<div class="span11">
						<p ><span class="round">3</span> Complete social media integration with facebook and google plus.</p>
						<img class="pull-right" src="/image/29.png" /><br/>
					</div>
					<div class="span11">
						<p class="pull-right" style="margin-right: 166px;" ><span class="round">4</span> Complete analytics for your store's website.</p>
					</div>
				</div>
				<div class="tab-pane fade" id="works">
					<div class="span11">
						<p><span class="round">1</span> Sign up by giving the required details of the shop</p>
						<img class="pull-right"  src="/image/26.png" /><br />
					</div>
					<div class="span11">
						<p style="text-align:right"><span class="round">2</span> Add Products from our catalouge in the product add tab</p>
						<img class="pull-left" src="/image/26.png" />
					</div>
					<div class="span11">
						<p ><span class="round">3</span> Go to the product edit tab to add prices of the product choosen</p>
					</div>
					<div class="span11">
						<p class="pull-right" style="margin-right: 166px;" ><span class="round">4</span> Your shop is live with its own page at www.sencillo.co.in/username</p>
					</div>
					<div class="span11">
						<p class="pull-left" style="margin-right: 166px;" ><span class="round">5</span> Go to ads page for running individual product ads or ad for your whole shop</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>