<template name="retailers">
	<div class="container">
		<ul id="forRetailersTab" class="nav nav-tabs">
			<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
			<li><a href="#features" data-toggle="tab">Features</a></li>
			<li><a href="#works" data-toggle="tab">How it Works</a></li>
		</ul>
		<div id="forRetailersTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="overview">
			</div>
			<div class="tab-pane fade" id="feature">
			</div>
			<div class="tab-pane fade" id="works">
			</div>
		</div>
	</div>
</template>