<template name="search">
  {{> searchView}}
</template>
<template name="searchView">
  <div id="searchContainer">
    <div id="searchFilter">
    </div>
    <div class="" id="searchProductList" style='margin:30px;'>
      {{> searchProducts}}
      {{> searchModal}}
    </div>    
  </div>    
</template>
<template name="searchProducts">
  <div class="products-list">
  {{#isolate}}
   {{#each ProductArr}}
     <div class="show-product" id="product_{{_id}}" style="cursor:pointer">
      <img class="item-image" src="image/482.GIF" data-original="{{this.Image.[0]}}"/>
      <h4>{{this.Brand}}</h4>
      <p class="lead">{{this.ProductName}} </p>
      <p>{{this.ModelID}}</p>
     </div>
   {{/each}}
  {{/isolate}}
   
  </div>
</template>
<template name='searchModal'>
<div id="searchModal" class="hide">
    <a id="closeModal" href="#">X</a>
    {{#isolate}}
    {{#each product}}
      <div class="column" style="width:30%">
        <h2>{{Brand}}</h3>
        <h4>{{ProductName}}</h5>
        <h5>{{ModelID}}</h6>
        <img class="item-image" src="{{Image.[0]}}" />
      </div>
    {{/each}}
    {{/isolate}}
    <div class="column" style="width:70%">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#techSpec" data-toggle="tab">Technical Specification</a></li>
        <li><a href="#availableShop" data-toggle="tab">Available At</a></li>
      </ul>
      <div class="tab-content">
      {{#isolate}}
        {{> searchModalOverview}}
      {{/isolate}}
      {{#isolate}}
        {{> searchModalSpec}}
      {{/isolate}}
      {{#isolate}}
        {{> searchModalAvailble}}
      {{/isolate}}
      </div>
    </div>
</div>
</template>
<template name="searchModalOverview">
  <div class="tab-pane active" id="overview">
  {{#each productOverview}} 
    <p class="lead">{{overviewPara}}</p>
    <ul>
      {{#each overViewList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each feature}}
      <h4>{{name}}</h4>
      <p>{{value}}</p>
    {{/each}}
  {{/each}}
  </div>
</template>
<template name="searchModalSpec">
  <div class="tab-pane" id="techSpec">
    <table class="table">
    {{#each productSpec}}
    {{#each spec}}
      {{#labelCheck name}}
      <th>
        <u><strong>{{value}}</strong></u>
      </th>
      {{else}}  
      <tr>
        <td><strong>{{name}}:</strong></td>
        <td>{{value}}</td>
      </tr> 
      {{/labelCheck}}
    {{/each}}
    {{/each}}
    </table>
  </div>
</template>
<template name="searchModalAvailble">
  <div class="tab-pane" id="availableShop">
    <table class="table">
      <tr>
        <th>Shop Name</th>
        <th>Distance</th>
      </tr>
    {{#each shopList}}
      <tr>
        <td><a class="shopNav" href="{{link}}">{{shopname}}<a/></td>
        <td>{{distance}}Km</td>
      </tr>
    {{/each}}
    </table>
  </div>
</template>