<template name="shopAdd">
  
  <div id="shopAddTemplate">
    <div id="shopAddFilter">
      {{> shopAddFilter}}
    </div>
    <div id="shopAddProducts">
      {{> shopAddProducts}}
    </div>
  </div>
</template>
<template name="shopAddFilter">
  <div id="shopAddWrap">
    
      {{#each MainCatArr}}
      <div class="accordion-heading">
        <h4 style="cursor:pointer" data-toggle="collapse" data-target="#{{_id}}" data-parent="shopAddWrap">{{Main}}</h4>
      </div>
        <div class="collapse" id="{{_id}}">
          <div class="accordion-inner">
            <ul >
              {{#each Sub}}
              <li style="cursor:pointer;list-style:none" id="shopAddSub">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </li>
      
      {{/each}}
    </ul>
  </div>
  <div id="shopAddBrandSelect">
    <p>
      <span>Brands : </span>
    {{#each Brand}}
    <input type="checkbox" value="{{this}}">{{this}}
    {{/each}}
    </p>
  </div>

</template>

<template name="shopAddProducts">
  
    <div class="products-row">
   {{#each ProductArr}}
      <div class="add-item" id="product_{{this._id}}" style="cursor:pointer;">
        <img class="item-image" src="{{this.Image.[0]}}" />
        <input type='button' class='addProduct' id="{{_id}}" value='Add'/>
        <h4>{{this.Brand}}</h4>
        <p class="lead">{{this.ProductName}} </p>
        <p>{{this.ModelID}}</p>
      </div>
   {{/each}}
  </div>
  <div  style="margin-left: 25px;">
      <button id="showMoreResults" class="btn btn-medium">More Results...</button>
  </div>
</template>
