<template name="shopAdd">
  
  <div id="shopAddTemplate">
    {{#isolate}}
      {{> shopAddFilter}}
    {{/isolate}}
    <div id="shopAddProducts">
      {{#isolate}}
      {{> shopAddProducts}}
      {{/isolate}}
    </div>
  </div>
</template>
<template name="shopAddFilter">
  <div id="shopAddWrap">
      {{#each MainCatArr}}
      <div class="accordion-heading">
        <h4 style="cursor:pointer" data-toggle="collapse" data-target="#{{_id}}" data-parent="shopAddWrap">{{Main}}</h4>
      </div>
        <div class="collapse" id="{{_id}}">
          <div class="accordion-inner">
            <ul >
              {{#each Sub}}
              <li style="cursor:pointer;list-style:none" id="shopAddSub">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div id="shopAddBrandSelect">
    <p>
      <label class="control-label" id='brandLabel'>Brands : </label>
      {{#each Brand}}
      <div class="control-group">
        <div class="controls">
          <label class='checkbox'>  
            <input type="checkbox" value="{{this}}">{{this}}
          </label>
        </div>
      </div>
      {{/each}}
    </p>
<div style="float:right;position:relative;margin-right:10px;top:-8px;"><button id='addSelected' class="btn btn-primary">Add Selected Products</button></div>
  </div>

</template>

<template name="shopAddProducts">
  
  <div class="products-row" id="productsWrap">
   {{#each ProductArr}}
      <label for="productCheck_{{_id}}" class="add-item" id="product_{{this._id}}" style="cursor:pointer;">
        <!--<input type='checkbox' name='productCheck' id='productCheck_{{_id}}' class='productCheck'/>-->
        <div class='mask'><input type='button' class='addProduct' id="{{_id}}" value='Add to Shop'/></div>
        <div class='item-content'>
          <img class="item-image" src="{{this.Image.[0]}}" />
          <p class="lead">{{this.ProductName}} </p>
          <span class="pull-right"><img src="{{brandLogo this.Brand}}" style="height:24px" /></span>
          <p>{{this.ModelID}}</p>
        </div>
      </label>
   {{/each}}
  </div>
  <div class='listSelected'>
   <table>
    <ul>{{#each selectedArr}}
      <tr>
        <td style="text-align:center;width:100px"><li id='{{this.productId}}'>{{this.Brand}} </td><td style="text-align:center;width:200px">{{this.ModelID}}</td><td><i class="fa fa-times-circle removeFromList" id='remove_{{this.productId}}' style='float:right;cursor:pointer;'></i></li>{{/each}}</ul></td>
      </tr></table>
    </div>

  <div  style="margin-left: 25px;clear:both;">
      <button id="showMoreResults" class="btn btn-medium">Loading....</button>
  </div>
</template>
