<template name="shopDetails">
	<div class='container' style='overflow:hidden;width:100%;height:100%;'>
		<div id="editShopInfo">
		{{#with details}}
			<form id='edit-form-shop' class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Shop Name</label>
					<div class="controls">
						<input type="text" id='edit-shopname' name='edit-shopname' value='{{shopname}}' />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Postal Code</label>
					<div class="controls">
						<input type='text' id='edit-pincode' name='edit-pincode' value='{{pincode}}'/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">City</label>
					<div class="controls">
						<select id='edit-city' name='edit-city'><option value='Kolkata' selected>Kolkata</option></select>
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label'>Locality/Area</label>
					<div class='controls'>
						<input type='text' id='edit-locality' name='edit-locality' value='{{locality}}' />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Landmark</label>
					<div class="controls">
						<input type='text' id='edit-landmark' name='edit-landmark' value='{{landmark}}'/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Shop Address</label>
					<div class="controls">
						<textarea id='edit-address' name='edit-address'>{{address}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Mode of Payments available</label>
					<div class="controls">
            <label for='edit-debit'>{{#if payments.debit}}<input type="checkbox" id='edit-debit' name="edit-payments" value="debit" checked/>{{else}}<input type="checkbox" name="edit-payments" value="debit" />{{/if}} Debit Card</label>
            <label for='edit-credit'>{{#if payments.credit}}<input type="checkbox" id='edit-credit' name="edit-payments" value="credit" checked/>{{else}}<input type="checkbox" name="edit-payments" value="credit" />{{/if}} Credit Card</label>
            <label for='edit-cheque'>{{#if payments.cheque}}<input type="checkbox" id='edit-cheque' name="edit-payments" value="cheque" checked/>{{else}}<input type="checkbox" name="edit-payments" value="cheque" />{{/if}} Cheque</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Emi Option</label>
					<div class="controls">
            {{#if emi}}
              <input type="radio" name="edit-emi" id="edit-emi" value="yes" checked='checked'/> Yes
              <input type="radio" name="edit-emi" id="edit-emi" value="no" /> No
            {{else}}
              <input type="radio" name="edit-emi" id="edit-emi" value="yes" /> Yes
              <input type="radio" name="edit-emi" id="edit-emi" value="no" checked='checked'/> No
            {{/if}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Exchange Available</label>
					<div class="controls">
            {{#if exchange}}
              <input type="radio" name="edit-exchange" id="edit-exchange" value="yes" checked='checked'/> Yes
              <input type="radio" name="edit-exchange" id="edit-exchange" value="no" /> No
            {{else}}
              <input type="radio" name="edit-exchange" id="edit-exchange" value="yes" /> Yes
						  <input type="radio" name="edit-exchange" id="edit-exchange" value="no" checked='checked'/> No
            {{/if}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Shop Timings</label>
					<div class="controls">
						<input type="time" name="edit-openHour" id="edit-openHour" value="{{openHour}}" /> <br /> to <br/> 
						<input type="time" name="edit-closeHour" id="edit-closeHour" value="{{closeHour}}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Contact Number</label>
					<div class="controls">
						<input type="text" name='edit-contactnum' id='edit-contactnum' value='{{contactnum}}' /><br>
					</div>
				</div>
				<input type='submit' class='btn btn-primary' value='Save Changes' />
			</form>
		{{/with}}
		</div>
		<div id="editMapInfo">
		{{>mapTemplate}}<br>
		</div>
	</div>
</template>

<template name='mapTemplate'>
<div id="googleMap" style="width:1370px;height:588px;"></div>
</template>