<template name="shopEdit">
  <div class="container" style="height:100%;width:1235px;" >
    <div class="row" style="height:100%" >
    {{> shopEditCategories}}
      <div id='editHeader' class='span10'>
        <form id="editSearchForm" style='float:right;'>
					<div class="input-append">
						<input type="text" id="editSearchInput" class="span3" placeholder="Search" />
						<button id='editSearchSubmit' class="btn"><i class="icon-search"></i></button>
					</div>
				</form>
      </div>
    <div id="shopEdit" class="span10" style="padding:0">
    <table class="table" id="editTable">
      <thead>
        <th style="background-color:#f5f5f5;">Brand</th>
        <th style="background-color:#e6e6e6;">Name</th>
        <th style="background-color:#f5f5f5;">Model</th>
        <th style="background-color:#e6e6e6;">Price</th>
        <th style="background-color:#f5f5f5;">In Stock</th>
        <th style="background-color:#e6e6e6;width:74px;">On Display</th>
        <th style="background-color:#f5f5f5;">Featured</th>
      </thead>
      <form id="editProducts">
      {{#each allProducts}}
        <tr>
          <td>{{Brand}}</td>
          <td>{{ProductName}}</td>
          <td>{{ModelID}}</td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="fa fa-rupee fa-fw"></i></span>
              <input class="span1 edit-price" id="price_{{_id}}" type="text" value="{{price}}" >
            </div>
          </td>
          <td>
            <div class="toggle {{#if inStock}}on{{else}}off{{/if}}" id='stock_{{_id}}'>
              <div>IN</div>
              <div class="cover"></div>
              <div>OUT</div>
            </div>
          </td>
          <td>
            <div class="toggle {{#if onDisplay}}on{{else}}off{{/if}}" id='display_{{_id}}'>
              <div>YES</div>
              <div class="cover"></div>
              <div>NO</div>
            </div>
          </td>
          <td>
            <div class="toggle {{#if Featured}}on{{else}}off{{/if}}" id='featured_{{_id}}'>
              <div>YES</div>
              <div class="cover"></div>
              <div>NO</div>
            </div>
          </td>
          <td>
          <input type="hidden" class='productId' value="{{_id}}"/>
        </tr>
      {{/each}}
    </form>
    </table>
    </div>
    <div id="editButton">
    <button class='btn btn-primary' id='saveChanges'>Save changes</button>
    </div>
    </div>
  </div>
</div>
</template>

<template name="shopEditCategories">
  <div id="shopEditWrap" class="span2">
    {{#each cat}}
      <div class="accordion-heading">
        <h4 style="cursor:pointer" data-toggle="collapse" data-target="#{{_id}}" data-parent="shopAddWrap">{{this.Sub}}</h4>
      </div>
        <div class="collapse" id="{{_id}}">
          <div class="accordion-inner">
            <ul>
              {{#each list}}
              <li class="filterLinks" style="cursor:pointer;list-style:none" data-filter="{{../Sub}}-{{this}}">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
    {{/each}}
  </div>
</template>