<template name="shop">
	<div class="row">
			<div class="medium metro rounded primary btn"><a href="/shop/p1">Account Settings</a></div>
			<div class="medium metro rounded btn omi-color"><a href="/shop/p2">Product Choice Dashboard</a></div>
			<div class="medium metro rounded btn omi-color"><a href="/shop/p3">Add Pricing</a></div>
			<div class="medium metro rounded btn" style="background: #8e44ad;"><a href="/shop/p4">Your Inventory</a></div>
		</ul>
	</div>
	<div id="shopContent">

	</div>
</template>
<template name="shop1">
	<h1>Here we are !!</h1>
</template>