<!--<head>
<script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBoZj_NWxZTB-rKDEKGShhV1xlvn5UwYVc&sensor=false"></script></head>-->
<template name="shopDetails">
	<div id="editShopInfo">
	{{#with details}}
		<form id='shopdetails'>
			<label>Shop Name</label>
			<input type="text" id='shopname' value='{{shopname}}' />
			<label>Shop Address</label>
			<textarea id='address'>{{address}}</textarea>
			<label>Landmark</label>
			<input type='text' id='landmark' value='{{landmark}}'/>&nbsp;&nbsp;&nbsp;<button id='locate-landmark'>Locate the Landmark!</button>
			<label>City</label>
			<select id='city'><option value='Kolkata' selected>Kolkata</option></select>
			<label>Postal Code</label>
			<input type='text' id='pincode' value='{{pincode}}'/>
			<label>Contact Name</label>
			<input type="text" id='contactname' value='{{contactname}}' />
			<label>Contact Number</label>
			<input type="text" id='contactnum' value='{{contactnum}}' /><br>
			<input type='submit' class='btn btn-primary' value='Save Changes' />
		</form>
	{{/with}}
	</div>
	<div id="editMapInfo">
	<div id='suggestions-wrapper' style='display:none;'><h4>Matched Locations</h4><ul id='map-suggestions'></ul></div>
	{{>mapTemplate}}<br>
	<button id='getGeolocation'>Get Geolocation!</button>
	</div>
</template>

<template name='mapTemplate'>
<div id="googleMap" style="width:600px;height:400px;"></div>
</template>