<template name="shopAdd">
  <div id="shopAddTemplate">
    <div id="shopAddFilter">
      <div id="shopAddMainCat">{{> MainCat}}</div>
      <div id="shopAddSubCat">{{> SubCat}}</div>
      <div id="shopAddBrand">{{> Brand}}</div>
    </div>
    {{> Products}}
  </div>
</template>

<template name="MainCat"> 
      <div class="products-maincat">
        <select id='mainCat'>
          <option value="select">Select</option>
      {{#each MainCatArr}}
          <option class="maincat" value="{{Main}}">{{Main}}</option>
      {{/each}}
        </select>
      </div>
</template>

<template name="SubCat">
    <div class="products-subcat">
    <select id='subCat' disabled>
      <option value="select">Select</option>
    {{#each SubCatArr}}
      <option class="subcat" value="{{Name}}">{{Name}}</option>
    {{/each}}
  </select>
    </div>
</template>

<template name="Brand">
    {{#each BrandArr}}
      <input class="brand" value="{{Name}}" type='checkbox' id="brandShopAdd"><span id="shopAddChkBoxLabel">{{Name}}</span>

    {{/each}}
</template>

<template name="Products">
  <div class="products-list" id="shopAddProductsList">
    <div class="products-row">
   {{#each ProductArr}}
      <div class="add-item" id="product_{{_id}}" style="cursor:pointer;">
        <a href="#myModal" role="button" data-toggle="modal">
        <img class="item-image" src="{{Image.[0]}}" />
        <input type='button' class='addProduct btn btn-small btn-primary' id="{{_id}}" value='Add'/>
        <h4>{{Brand}} {{ProductName}} {{ModelID}}</h4>
        
        </a>
      </div>
      {{#if br}}
        </div> <div class='products-row'>
      {{/if}}
   {{/each}}
  </div>
</template>