/*.customerView{
	width:100%;
	overflow-x: hidden;
}
.cvCategories{
	width:20%;
	float: left;
}
.cvProductsList{
	width:60%;
	left:20%;
	height:90%;
	position:absolute;
	overflow-y:scroll;
	overflow-x:hidden;
}
.cvMapDisplay{
	float:right;
	width:25%;
	position: relative;
	//left: 16.5%;
	height: 350px;
}
.shopInfo, #googleMap{
	position: relative;
	left: 23px;
}*/